/* common---> */
body {
  font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
}

main > section:nth-of-type(n + 3) {
  padding: 120px 0;
  color: #16407d;
}

main > section a {
  font-weight: bold;
  color: #16407d;
}

main > section a:hover {
  color: #16407d;
  text-decoration: none;
}

main > section:not(#top) .title {
  text-align: center;
  margin-bottom: 40px;
}
/* <---common */

/* header---> */
header {
  position: fixed;
  top: 0;
  height: 68px;
  width: 100%;
}

header .logo {
  display: inline-block;
  margin: 16px 20px;
}

header .logo img {
  width: 150px;
  padding: 6px;
  background: #fff;
  border-radius: 4px;
}

.menu-wrapper {
  display: inline-block;
  position: fixed;
  top: 40px;
  right: 24px;
}

.menu-wrapper button.menu {
  width: 115px;
  height: 95px;
  padding: 0.25rem 0.75rem;
  margin: 10px;
  border: none;
  outline: none;
  background: transparent;
}

.menu-wrapper button.menu::before {
  content: "";
  width: 213px;
  height: 55px;
  background-image: url(./img/header_bar.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  right: -30px;
}

.menu-wrapper button.menu .panel {
  width: 114px;
  -webkit-animation: panel 2s ease-in-out infinite alternate;
  animation: panel 2s ease-in-out infinite alternate;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  position: absolute;
  top: 16px;
  right: 32px;
}

@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
@keyframes panel {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}

.menu-wrapper .component {
  position: absolute;
  top: 140px;
  right: -44px;
  width: 200px;
  list-style: none;
  z-index: 1;
}

.menu-wrapper li {
  opacity: 0;
  margin: 12px 0;
  right: 0;
  text-align: center;
  border: 2px solid #5c3e26;
  border-right: none;
  border-radius: 30px 0 0 30px;
  transition: right 0.4s;
}

.menu-wrapper li:first-of-type {
  background: #ff8d56;
}

.menu-wrapper li:nth-of-type(2) {
  background: #c591c5;
}

.menu-wrapper li:nth-of-type(3) {
  background: #50caca;
}

.menu-wrapper li:nth-of-type(4) {
  background: #eae068;
}

.menu-wrapper .component.open li {
  animation: slideInOpen 1s forwards;
}

.menu-wrapper .component.open li:first-of-type {
  animation-duration: 0s;
}

.menu-wrapper .component.open li:nth-of-type(1) {
  animation-duration: 0.2s;
}

.menu-wrapper .component.open li:nth-of-type(2) {
  animation-duration: 0.4s;
}

.menu-wrapper .component.open li:nth-of-type(3) {
  animation-duration: 0.6s;
}

.menu-wrapper .component.open li:nth-of-type(4) {
  animation-duration: 0.8s;
}

@keyframes slideInOpen {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-wrapper .component.close.second li {
  animation: slideInClose 1s forwards;
}

.menu-wrapper .component.close.second li:first-of-type {
  animation-duration: 1s;
}

.menu-wrapper .component.close.second li:nth-of-type(1) {
  animation-duration: 0.8s;
}

.menu-wrapper .component.close.second li:nth-of-type(2) {
  animation-duration: 0.6s;
}

.menu-wrapper .component.close.second li:nth-of-type(3) {
  animation-duration: 0.4s;
}

.menu-wrapper .component.close.second li:nth-of-type(4) {
  animation-duration: 0.2s;
}

@keyframes slideInClose {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

.menu-wrapper .component li:hover {
  position: relative;
  right: 20px;
  cursor: pointer;
}

.menu-wrapper li a {
  display: block;
  font-size: 20px;
  color: #5c3e26;
  font-weight: 400;
  transition: font-weight 0.4s;
  padding: 4px;
}

.menu-wrapper li:hover a {
  font-weight: bold;
  text-decoration: none;
}
/* <---header */

/* loading---> */
#loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: height 1.5s ease-in;
  z-index: 100;
}

#loading .mask {
  width: 100%;
  margin: 0 auto;
  height: 113px;
  fill: none;
  stroke: #fff;
}

#loading.loaded {
  height: 0;
}
/* <---loading */

/* top---> */
#top {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: center / cover no-repeat url(./img/top.svg);
  color: #515151;
  z-index: -1;
}

#top .sub-title {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#top h3 {
  text-align: right;
}

#top .curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* <---top */

/* about---> */
#about .profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about .profile img {
  width: 280px;
  border-radius: 50%;
}

#about .profile .content {
  margin-left: 24px;
  max-width: 324px;
}

#about .profile .content h3 {
  margin-bottom: 24px;
}

#about .profile .content p {
  letter-spacing: 1px;
  line-height: 29px;
}

#about .profile .content a {
  position: relative;
  display: inline-block;
  transition: 0.3s;
  z-index: -1;
}

#about .profile .content a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #16407d;
  transition: 0.3s;
}

#about .profile .content a:hover::after {
  width: 100%;
}
/* <---about */

/* skills---> */
#skills img {
  height: 50px;
  margin: 10px auto;
  display: block;
}

#skills h3 {
  text-align: center;
}

#skills p {
  text-align: left;
  margin: 20px;
}
/* <--skill */

/* responsive---> */
@media (max-width: 767px) {
  #about .profile img {
    margin-bottom: 20px;
  }
  #about .profile .content h3 {
    text-align: center;
  }
  #skills .row > * {
    margin-bottom: 32px;
  }

  #skills p {
    margin: 20px 68px;
    position: relative;
    z-index: -1;
  }
}

@media (max-width: 538px) {
  .menu-wrapper button.menu .panel {
    width: 94px;
    top: 10px;
  }
  .menu-wrapper button.menu::before {
    width: 200px;
    top: -35px;
  }
  #top {
    background: radial-gradient(
      at 50% 100%,
      #ffe6c1 16px,
      #9abca4 45%,
      #bee4ec 85%
    );
  }
}
/* <--responsive */
